*:focus{
    outline: none;
    box-sizing: border-box;
}

input{
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid lightslategray;
    display: block;
    padding-left: 10px;
    margin: 20px 0;
}
